cmake_minimum_required(VERSION 3.24)
project({{ app_name }} LANGUAGES C CXX ASM)

set(NSX_BOARD "{{ board }}" CACHE STRING "Target board")

option(FOO_USE_NSX_PORTABLE "Link nsx::portable_api in addition to runtime core" OFF)

include(${CMAKE_CURRENT_LIST_DIR}/cmake/nsx/modules.cmake)
include(${CMAKE_CURRENT_LIST_DIR}/cmake/nsx/nsx_app_bootstrap.cmake)

nsx_bootstrap_app(
    APP_ROOT "${CMAKE_CURRENT_LIST_DIR}"
    BOARD "${NSX_BOARD}"
    MODULES ${NSX_APP_MODULES}
)

find_package(nsx_soc_{{ soc }} REQUIRED CONFIG)
find_package(nsx_board_{{ board }} REQUIRED CONFIG)

add_executable({{ app_name }}
    src/main.c
)

target_link_libraries({{ app_name }} PRIVATE
    nsx::board_{{ board }}
    nsx::runtime_core
)

if(FOO_USE_NSX_PORTABLE)
    target_link_libraries({{ app_name }} PRIVATE nsx::portable_api)
endif()
nsx_finalize_app({{ app_name }})
