/* SPDX-License-Identifier: BSD-3-Clause */
/* Copyright (c) 2026, Ambiq */
#include "{{ include_dir }}/{{ package_name }}.h"

int {{ package_name }}_init(void) {
    return 0;
}

int {{ package_name }}_run(void) {
    return 0;
}
